* {
  font-family: 'Raleway', serif;
}

#aside {
  background-color: #c8e6c9;
  color: #262626;
  overflow: auto;
  height: 100vh;
}

#main {
  height: 100vh;
}

.modal {
  background-color: #262626;
  color: #c8e6c9;
  border: 0.08em solid white;
}

.modal p {
  font-style: italic;
}

.card-panel {
  background-color: lightsalmon;
  color: #262626;
}

h2 {
  display: inline;
}