* {
  font-family: 'Raleway', serif;
}

body {
  width: 100vw;
}

.btn-large {
  z-index: 99;
  position: absolute;
  top: 5em;
  left: 1em;
  display: none;
  font-size: 1em;
}

.aside {
  background-color: #c8e6c9;
  color: #262626;
  overflow: auto;
  height: 100vh;
  width: 29%;
  display: inline-block;
}

#main {
  height: 100vh;
  width: 70%;
  display: inline-block;
  z-index: 1;
}

.modal {
  background-color: #262626;
  color: #c8e6c9;
  border: 0.08em solid white;
}

.modal p {
  font-style: italic;
  font-size: 1em;
}

.modal h3 {
  font-size: 1.5em;
  font-style: bold;
}

.card-panel {
  background-color: lightsalmon;
  color: #262626;
}

h2 {
  display: inline;
}

@media only screen 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .aside {
      display: none;
    }
    #main {
      width: 100%;
    }
    .btn-large{
      display: block;
    }
}

@media only screen 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .aside {
      display: none;
    }
    #main {
      width: 100%;
    }
    .btn-large{
      display: block;
    }
}

@media only screen 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .aside {
      display: none;
    }
    #main {
      width: 100%;
    }
    .btn-large{
      display: block;
    }
}