#aside {
  background-color: #262626;
  color: lightsalmon;
  border-right: 0.08em solid white;
  overflow: auto;
  height: 100vh;
}

#main {
  height: 100vh;
}

.modal {
  background-color: #262626;
  color: lightsalmon;
  border: 0.08em solid white;
}

.modal p {
  font-style: italic;
}

h2 {
  display: inline;
}